.headerForm{
    margin-left: 240px;
    margin-top: 100px;
    width: 60vw;

    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.589);
}

.contentResumeMedicament{
    overflow-x: hidden; 
}

.resumeMedicamentScroll{
    height: 21vh;
    overflow-x: hidden; 
}

.resumeMedicamentScrollBis{
    height: 50vh;
    overflow-x: hidden; 
}

.resumeMedicament{
    border: 1px solid rgba(128, 128, 128, 0.26);
    box-shadow: rgba(128, 128, 128, 0.411) 0px 0px 4px;
    border-radius: 5px;
    background-color: rgba(108, 167, 108, 0.568);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8;
    padding: 3px;
}  

.resumeMedicamentbis{
    box-shadow: rgba(128, 128, 128, 0.411) 0px 0px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 3px;
}  

.checkboxContent{
    font-size: 0.45em;
}

.titleResumeMedicament{
    display: flex;
    
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 20px;
    font-size: 0.4em;    
}

.titleResumeMedicament h1{
    font-weight: normal;
    display: flex;
    justify-content: left;
}

.resumeMedicamentName{
    font-size: 1.2rem;
}

.resumeMedicamentQuantity{
    font-size: 1.2rem;
}

.resumeMedicamentAction button{
    border: none;
    margin: 5px;
}

.resumeMedicamentAction button:hover{
    box-shadow: grey 0px 0px 10px;
    border-radius: 50%;
} 
.resumeMedicamentAction button:focus{
    border: none;
}

.gridResumeCommand{
    margin-top: 50px;
}

.buttonAddFichier{
    width: 15vw;
    height: 7vh;
    border: none;
    border-radius: 10%;
}

.commandeStatus{
    background-color: #fffbfb2c;
    width: 100%;
    padding: 5px 10px;
    font-size: 1.5rem; 
    color: rgb(53, 53, 52);
    box-shadow: black 2px 2px 4px;
    border-radius: 10px;
}

.containerFormRecap{
    box-shadow: black 2px 2px 4px;
    width: 100%;
    border-radius: 10px;
}

.titleResumeCommande{
    background-color: #1ea084;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
}

.adressResume{
    height: 25vh;
    max-height: 25vh;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
}

.adressResumeClient{
    min-height: 15vh;
    max-height: 25vh;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
}

.prixResume{
    width: 100%;
    height: 25vh;
    max-height: 25vh;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
    font-size: 0.8rem;
}

.height{
    height: 27vh;
}

.priceResume p{
    padding-right: 20px;
}

.titlePrixResume p{
    padding-right: 40px;
}

.ulMarkerNameStatus{
    width: auto;
    margin-top: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1rem;
}

.liMarkerNameStatus{
    width: 100%;
    border-top: 5px solid rgba(114, 114, 114, 0.938)
}

.liMarkerNameStatusNo{
    width: 100%;
    border-top: 5px solid rgba(128, 128, 128, 0.300);
    color: rgba(0, 0, 0, 0.300);
}

.pMarkerNameStatus{
    font-size: 0.6rem;
}

.divMarkerNameStatus{
    width: 100%;
}