.headerForm{
    margin-left: 240px;
    margin-top: 100px;
    width: 60vw;

    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.589);
}

/* .test button {
    width: 3vw;
    height: 6vh;
    min-width: 1vw;
} */

/* .formInfoClient {
    background-color: rgba(105, 105, 105, 0.295);
}

.formMedicament{
    background-color: rgba(105, 105, 105, 0.295);
}

.formInfoPharmacien{
    background-color: rgba(105, 105, 105, 0.295);
}

.formulaireMedicament{
    border: 1px solid rgba(128, 128, 128, 0.459);
    box-shadow: gray 0px 0px 20px;

    display: flex;

    width: 75vw;
    height: 100%;

}

.inputsMedicament{
    border: 1px solid black; 

    width: 50%;
    margin-right: 20px;
}

.formulaireResumeMedicament{
    border: 1px solid black; 

    width: 50%;
    margin-left: 20px;
}

.formulaireMed{
     border: 1px solid black; 

    display: flex;
    flex-direction: column;

    margin: 20px;
}

.formulaireMed .inputs{
     border: 1px solid black; 

    margin: 20px
}*/
.contentResumeMedicament{
    height: 45vh;
    /*overflow-y: auto;*/
    overflow-x: hidden;
}

.resumeMedicament{
    border: 1px solid rgba(128, 128, 128, 0.26);
    box-shadow: rgba(128, 128, 128, 0.411) 0px 0px 4px;
    border-radius: 5px;
    background-color: rgba(108, 167, 108, 0.568);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 3px;
    
}  

.resumeMedicamentbis{
    /* border: 1px solid rgba(128, 128, 128, 0.26); */
    box-shadow: rgba(128, 128, 128, 0.411) 0px 0px 8px;
    border-radius: 5px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 3px;
    
}  

.checkboxContent{
    font-size: 0.45em;
}

.titleResumeMedicament{
    /* border: 2px solid black; */
    display: flex;
    
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 20px;
    font-size: 0.4em;
    
}

.titleResumeMedicament h1{
    font-weight: normal;
    display: flex;
    justify-content: left;
}

.resumeMedicamentName{
    font-size: 1.2rem;
    /* margin-left: 30px; */
}

.resumeMedicamentQuantity{
    font-size: 1.2rem;
}

.resumeMedicamentAction button{
    border: none;
    margin: 5px;
}

.resumeMedicamentAction button:hover{
    box-shadow: grey 0px 0px 10px;
    border-radius: 50%;
} 
.resumeMedicamentAction button:focus{
    border: none;
}

.gridResumeCommand{
    margin-top: 50px;
}

.buttonAddFichier{
    width: 15vw;
    height: 7vh;
    border: none;
    border-radius: 10%;
}

.commandeStatus{
    /* border: 2px solid black; */
    background: linear-gradient(150deg, #1ea084d7 0%, #fff 70%);
    /*display: flex;
    justify-content: flex-start;*/
    width: 100%;
    padding-left: 10px;
    /* margin-bottom: -10%; */
    font-size: 1.5rem; 
    color: rgb(53, 53, 52);
    box-shadow: rgba(102, 99, 99, 0.479) 0px 0px 10px;
    border-radius: 10px;
}

.containerFormRecap{
    /* border: 2px solid black; */
    box-shadow: black 2px 2px 4px;
    width: 100%;
    /*height: 100%; */
    border-radius: 10px;
}

.titleResumeCommande{
    background-color: #1ea084;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
}

.adressResume{
    /* border: 2px solid black; */
    height: 25vh;
    max-height: 25vh;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
}

.adressResumeClient{
        /* border: 2px solid black; */
        min-height: 15vh;
        max-height: 25vh;
        background-color: white;
        border-radius: 0px 0px 10px 10px;
        padding: 10px 0px 10px 10px;
}

.prixResume{
    /* border: 2px solid black; */
    width: 100%;
    height: 25vh;
    max-height: 25vh;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
    font-size: 0.8rem;
}

.height{
    height: 27vh;
}

.priceResume p{
    padding-right: 20px;
}

.titlePrixResume p{
    padding-right: 40px;
}